/* @media only screen and(max-width:600px) {

    .sidebar {
        display: none;
        width: 80% !important;
        background-color: white;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
    }

    .content {
        margin-left: 0% !important;
    }

} */
#content {
	margin-left: 20%;
	/* padding-left: 5%; */
}

body {
	min-height: 100vh;
}

.side-navbar {
	width: 250px;
	height: 100%;
	position: fixed;
	margin-left: -300px;
	background-color: #100901;
	transition: 0.5s;
}

.nav-link:active, .nav-link:focus, .nav-link:hover {
	background-color: #ffffff26;
}

.my-container {
	transition: 0.4s;
}

.active-nav {
	margin-left: 0;
}

.active-cont {
	margin-left: 250px;
}

#menu-btn {
	background-color: #100901;
	color: #fff;
	margin-left: -62px;
}

.my-container input {
	border-radius: 2rem;
	padding: 2px 20px;
}

/* =============ADD CONTACT FORM====================================== */
.
.gradient-custom {
	/* fallback for old browsers */
	background: #f093fb;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1),
		rgba(245, 87, 108, 1));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to bottom right, rgba(240, 147, 251, 1),
		rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled])
	{
	font-size: 1rem;
	line-height: 2.15;
	padding-left: .75em;
	padding-right: .75em;
}

.card-registration .select-arrow {
	top: 13px;
}
/* =============Profile FORM====================================== */
.img-account-profile {
	height: 10rem;
}

.rounded-circle {
	border-radius: 50% !important;
}

.card {
	box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50/ 15%);
}

.card .card-header {
	font-weight: 500;
}

.card-header:first-child {
	border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
	padding: 1rem 1.35rem;
	margin-bottom: 0;
	background-color: rgba(33, 40, 50, 0.03);
	border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control, .dataTable-input {
	display: block;
	width: 100%;
	padding: 0.875rem 1.125rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1;
	color: #69707a;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #c5ccd6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
/* 	border-radius: 0.35rem; */
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
	color: #0061f2;
/* 	border-bottom-color: #0061f2; */
}

.nav-borders .nav-link {
	color: #69707a;
	border-bottom-width: 0.125rem;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0;
	padding-right: 0;
	margin-left: 1rem;
	margin-right: 1rem;
}