<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section class="hero">
		<div class="carousel-header">
			<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
				<ol class="carousel-indicators">
					<li data-bs-target="#carouselId" data-bs-slide-to="0" class=""></li>
					<li data-bs-target="#carouselId" data-bs-slide-to="1" class=""></li>
					<li data-bs-target="#carouselId" data-bs-slide-to="2"
						class="active" aria-current="true"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item">
						<img
							src="https://img.freepik.com/free-photo/fresh-yellow-daisy-single-flower-close-up-beauty-generated-by-ai_188544-15543.jpg?w=1060&t=st=1714728531~exp=1714729131~hmac=28c470234394439dd160ae101d620530bde8490521404d263c36bf3c82fb1c60"
							class="img-fluid" alt="Image 1">
						<div class="carousel-caption">
							<div class="p-3" style="max-width: 900px;">
								<h4 class="text-white text-uppercase fw-bold mb-4"
									style="letter-spacing: 3px;">Explore The World</h4>
								<h1 class="display-2 text-capitalize text-white mb-4">Let's
									The World Together!</h1>
								<p class="mb-5 fs-5">Lorem Ipsum is simply dummy text of the
									printing and typesetting industry. Lorem Ipsum has been the
									industry's standard dummy text ever since the 1500s,</p>
								<div class="d-flex align-items-center justify-content-center">
									<a
										class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
										href="#">Discover Now</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img
							src="https://img.freepik.com/free-photo/fresh-yellow-daisy-single-flower-close-up-beauty-generated-by-ai_188544-15543.jpg?w=1060&t=st=1714728531~exp=1714729131~hmac=28c470234394439dd160ae101d620530bde8490521404d263c36bf3c82fb1c60"
							class="img-fluid" alt="Image 1">
						<div class="carousel-caption">
							<div class="p-3" style="max-width: 900px;">
								<h4 class="text-white text-uppercase fw-bold mb-4"
									style="letter-spacing: 3px;">Explore The World</h4>
								<h1 class="display-2 text-capitalize text-white mb-4">Find
									Your Perfect Tour At Travel</h1>
								<p class="mb-5 fs-5">Lorem Ipsum is simply dummy text of the
									printing and typesetting industry. Lorem Ipsum has been the
									industry's standard dummy text ever since the 1500s,</p>
								<div class="d-flex align-items-center justify-content-center">
									<a
										class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
										href="#">Discover Now</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item active">
						<img
							src="https://img.freepik.com/free-photo/majestic-peacock-displays-vibrant-elegance-nature-beauty-generated-by-artificial-intelligence_25030-66772.jpg?t=st=1714727510~exp=1714731110~hmac=3a72a11d713f4137339052bc85e629d3bf0a909af1a1ea05ccf558d71f109580&w=1060"
							class="img-fluid" alt="Image">
						<div class="carousel-caption">
							<div class="p-3" style="max-width: 900px;">
								<h4 class="text-white text-uppercase fw-bold mb-4"
									style="letter-spacing: 3px;">Explore The World</h4>
								<h1 class="display-2 text-capitalize text-white mb-4">You
									Like To Go?</h1>
								<p class="mb-5 fs-5">Lorem Ipsum is simply dummy text of the
									printing and typesetting industry. Lorem Ipsum has been the
									industry's standard dummy text ever since the 1500s,</p>
								<div class="d-flex align-items-center justify-content-center">
									<a
										class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
										href="#">Discover Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button"
					data-bs-target="#carouselId" data-bs-slide="prev">
					<span class="carousel-control-prev-icon btn bg-primary"
						aria-hidden="false"></span> <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button"
					data-bs-target="#carouselId" data-bs-slide="next">
					<span class="carousel-control-next-icon btn bg-primary"
						aria-hidden="false"></span> <span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</section>
</body>
</html>